<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div class="container-fluid">
    <canvas id="myChart"></canvas>
    <script>
        let ctx = document.getElementById('myChart').getContext('2d');
        let chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',
            // The data for our dataset
            data: {
                labels: [{{logtimes}}],
                datasets: [{
                    label: 'Ping Time',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [{{logdata}}],
                    fill: false
                }]
            },
        
            // Configuration options go here
            options: {}
        });
    </script>
</div>
<div class="container">
    {{#each anomalousLogs}}
    <div class="alert alert-warning">
        There was an anomalous log at: {{this}}
    </div>
    {{/each}}
</div>